{% extends "Argupedia/base.html" %}


<!--- https://docs.djangoproject.com/en/3.2/topics/i18n/timezones/ --->
{% block content %}
<!--- specifies the font style --->
<font face=" Impact " size="10px" color="#D02A06" > Future Plans</font>
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" style="margin-left: 445px;">?</button>
<!--- Loops through the future plans --->
    {% for debate in announcement %}
        <article class=" buff">
            <!--- Loops through the future plans --->
          <div class="bone">
              <img class="rounded-circle article-img" src="{{ debate.author.argprofile.pict.url }}" width ="40" height="40">
              <!--- displays the author --->
              <a class="mr-2" >{{ debate.author }}</a>
                <!--- displays the date of the post created --->
              <small class="text-muted">{{ debate.arg_future_date|date:"F d, Y fA" }}</small>
                <!--- displays the title of the post created --->
            <h2><a>{{ debate.arg_future_plans_title }}</a></h2>
                <!--- displays the information of the post created --->
            <p class="format-nice">{{ debate.arg_future_plans_detail }}</p>
          </div>
        </article>
    {% endfor %}
<!--- modal fade functionality--->
    <div class="modal fade" id="myModal">
        <!--- modal dialog box--->
        <div class="modal-dialog">
             <!--- modal content-->
            <div class="modal-content">
                 <!--- modal header--->
                <div class="modal-header">
                     <!--- modal header-->
                    <h2 class="modal-title">Future Plans!</h2>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>X</span>
                    </button>
                </div>
                <div class="modal-body">
                     <!--- modal information--->
                    <p>This page displays the future plans for Argupedia.</p>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>








    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
{% endblock content %}