{% extends "Argupedia/base.html" %}
{% block content %}
<div>
    <!-- stylistic view of the button class-->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" style="margin-left: 574px;,margin">?</button>
<font face=" Impact " size="10px" color="#D02A06" > Welcome To Argupedia</font>
</div>

<!-- Medium Class prefix-->

    <!-- Specifying content-sectiom-->
    <div class="buff">
        <!--text informaiton specification-->
        <h2 >Argupedia Terms and Conditions</h2>
        <p> Welcome to Argupedia! Thank you for joining the debates on our site. We’re glad you’re here.
            These Terms of Service (“Terms”) apply to your use of Argupedia's website and services. Please read them carefully because by using Argupedia, you agree to be bound by these Terms.</p>
        <p></p>
        <p></p>
        <h2> Community Guidelines</h2>
        <p> Argupedia strives to provide a great service. To that end, we ask that you respect these rules, and we reserve the right to terminate your account if you don’t follow them.</p>
        <ul>
            <li>Don’t use Argupedia in a manner that violates any laws, regulations, ordinances, or directives.</li>
            <li>Don’t use Argupedia to do anything threatening, abusive, harassing, defamatory, tortious, obscene, profane, or invasive of another person’s privacy.</li>
            <li>Don’t engage in any conduct that inhibits anyone else’s use or enjoyment of Argupedia, or which may harm Argupedia or our users.</li>
        </ul>
        <p></p>
        <p></p>
        <h2>Argupedia Rights</h2>
        <p>By using Argupedia, you are accepting that Argupedia is allowed to store information that you have entered when creating an Account. Argupedia is allowed to track and monitor your activities on the site
        to ensure that no rules are broken and to create an effective and efficent debating platform.</p>


    </div>
<!-- displays mdoal information -->
    <div class="modal fade" id="myModal">

        <div class="modal-dialog">
            <!-- displays mdoal content-->
            <div class="modal-content">
                 <!-- displays mdoal header-->
                <div class="modal-header">
                     <!-- displays mdoal header-->
                    <h2 class="modal-title">Terms and Conditions!</h2>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>X</span>
                    </button>
                </div>
                <div class="modal-body">
                     <!-- displays modal information-->
                    <p>Please read the rules to fully understand what is and what isnt acceptable in Argupedia</p>
                    <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>








    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>







{% endblock content %}